/*PAGINA VUE MASTER PLANTILLA  ----------------------------------------------------------------------------------------------------------*/
.altura{
    margin-top: 8rem !important;
    margin-bottom: 25rem;
}
/*PAGINADOR  ----------------------------------------------------------------------------------------------------------*/
.pagination.pg-blue .page-item.active .page-link, .pagination.pg-blue .page-item.active .page-link:hover {
    background-color: #778548;
}
/*PAGINA ADMIN/USUARIOS  ----------------------------------------------------------------------------------------------------------*/
.altura-usuarios{
    margin-top: 8rem !important;
}
.altura-footer-usuarios{
    margin-bottom: 8rem !important;
}
/*PAGINA ADMIN PRODUCTO CREAR  ----------------------------------------------------------------------------------------------------------*/
.altura-producto-crear{
    margin-top: 7rem;
}
.texto-titulo{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
}
.texto-subtitulo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
}
.texto-mini{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.linea-titulo{
    border-bottom: 2px solid #778548;
}
