/*importacion para titulo del producto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* VARIABLES -------------------------------------------------------------------------------------------------------------*/
@import 'mis_variables';

.altura-menu-sup{
    margin-top: 8rem;
}

.subrayar{
    border-bottom: dotted 1px #7f8f4c94;
}

.caja{
    position: relative;
    margin-bottom: 10rem;
}

.portada {
    background-image: url("../storage/imagenes/portada1hg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 7rem;
}

.portada-texto-sup {
    font-family:'Playfair Display', serif;
    font-weight: 500;
    font-size: 2rem;
    color: #c648326b;
    margin-top: 3rem;
    border-bottom: dotted 1px red;
}

.portada-texto-inf {
    font-family: 'Lato', serif;
    font-weight: 100;
    font-size: 2rem;
    color: #77854873;
}

.st-azul-contenedor{
    position: absolute;
    top: 160px;
    left: -280px;
}

.st-azul{
    position: relative;
}

.st-verde-contenedor{
    position: absolute;
    top: 160px;
    left: 1080px;
}

.st-verde{
    position: relative;
}

.card-inicio{
    font-family: lato;
    font-size: 24px;
    font-weight: 400;
    margin-top: $margen-superior;
}

.card-fecha{

    border-bottom: dotted 1px red;
}

.titulos{
    color: #046d1f94;
}



/* MEDIAS QUERYS  --------------------------------------------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    .portada {
        background-image: url("../storage/imagenes/portada1m.jpg");
    }

    /*PAGINA PRODUCTO*/
    /*sellos*/
    .centrar{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .img-anchura{
        width:70%;
    }

    /*combertir texto a dropdown*/
    .nav-sup-texto-right{
        display: none !important;
    }

     /*combertir texto a dropdown*/
     .nav-sup-drowpdown-right{
        margin: 0 !important;
    }

    .logo img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /*color del texto y fondo de la imagen de inicio la portada*/
    #color-fondo-sup{
        background: none !important;
        font-size: 1.2rem;
    }

    #color-fondo-inf{
        background:none !important;
        font-size: 1.5rem;
    }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    .portada {
        background-image: url("../storage/imagenes/portada1m.jpg");
    }
    
    /*combertir texto a dropdown*/
    .nav-sup-texto-right{
        display: none !important;
    }

    /*combertir texto a dropdown*/
    .nav-sup-drowpdown-right{
        margin: 0 !important;
    }

     /*Adaptamos servicion de inicio*/
     .fondo-tarjeta-soporte-tecnico{
        background: white;
        margin: 5rem;
    }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {


    /*combertir texto a dropdown*/
    .nav-sup-texto-right{
        display: none !important;
    }

    /*combertir texto a dropdown*/
    .nav-sup-drowpdown-right{
        margin: 0 !important;
    }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

    /*combertir texto a dropdown*/
    .nav-sup-drowpdown-right{
        margin: 0 !important;
        display: none !important;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*combertir texto a dropdown*/
    .nav-sup-drowpdown-right{
        margin: 0 !important;
        display: none !important;
    }


 }
