/*LOGIN ----------------------------------------------------------------------------------------------------------*/

@import 'mis_variables';

/*url: password/reset*/
.btn-enviar{
    color: rgb(250, 246, 246);
    background-color: transparent;
    border: dotted 1px $c_secundario;
    border-radius: 10px;
    padding: .8rem;
    min-width: 100px;
    margin-right: 1rem;

}

.subrayar{
    border-bottom: dotted 2px $c_secundario;
    color: white;
}

.margin-sup{
    margin-top: $margen-superior;
}

.margin-inf{
    margin-bottom: $margen-inferior;
}

.fondo{
    background-color: $fondo-serio-t;
}

.superior-card{
    background-color: $fondo-primario-t;
}

.bt-olvidar{
    background-color: transparent !important;
    border-bottom: dotted 1px $fondo-primario-t;
    color: white;
}

.btn:hover {
    color: $fondo-primario-t;
}
