$c_primario: #7fa4da;// fondo botones dropdown del menun sup
$fondo-primario-t: #789bd694;//fondo translucido: azul clarito translucido
$fondo-primario-t2: #789bd694;//fondo translucido: azul clarito translucido

$c_secundario: #7f8f4c94;// fondo botones dropdown del menun sup
$fondo-secundario-t:#7f8f4c94;//fondo translucido: azul clarito translucido
$fondo-secundario-t2:#7f8f4c0d;//fondo translucido: azul clarito translucido

$c_serio: #343a40;// fondo botones dropdown del menun sup
$fondo-serio-t:#343a40;//fondo translucido: azul clarito translucido
$fondo-serio-t2:#343a409c;//fondo translucido: azul clarito translucido

$c_puente: #c648326b;// fondo botones dropdown del menun sup
$fondo-puente-t:#c648326b;//fondo translucido: azul clarito translucido
$fondo-puente-t2:#c6483200;//fondo translucido: azul clarito translucido

$familia:"Roboto",sans-serif;
$color-linea-separador-texto: white;
$color-linea-debajo-texto: $c_secundario;

$margen-superior: 7rem;
$margen-inferior: 7rem;

$menu_lateral_c_texto:white;